# Configuración para desarrollo
NODE_ENV=development
PORT=3003

# Oracle Database Configuration
ORACLE_HOST=coyan.aduana.cl #habilitar en secret manager
ORACLE_PORT=1522 #habilitar en secret manager
ORACLE_DATABASE=aries #habilitar en secret manager
ORACLE_SID=aries1 #habilitar en secret manager
ORACLE_USERNAME=UD_MHERNANDEZ_ARKHO #habilitar en secret manager
ORACLE_PASSWORD="ngf1325#" #habilitar en secret manager
ORACLE_CLIENT_LIB_DIR=C:\oracle\instantclient_19_3 #habilitar en secret manager

# Logging
LOG_LEVEL=debug
API_PORT=3002
API_HOST=0.0.0.0

# JWT (vacío para usar solo Cognito)
JWT_PUBLIC_KEY=

# CORS
CORS_ORIGIN=*

# Cognito (configuración real)
COGNITO_JWKS_URI=
COGNITO_ISSUER=
COGNITO_CLIENT_ID=

#CACHE SETTING
CACHE_TYPE=memory

#AWS SETTING LOCAL
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#SQS SETTING
SQS_QUEUE_URL=

#S3 CONFIG
S3_BUCKET_NAME=
