# Configuración para desarrollo
NODE_ENV=development
PORT=3000

# Oracle Database Configuration
ORACLE_HOST=
ORACLE_PORT=
ORACLE_DATABASE=
ORACLE_SID=
ORACLE_USERNAME=
ORACLE_PASSWORD=
ORACLE_CLIENT_LIB_DIR=C:\oracle\instantclient_19_3

# Logging
LOG_LEVEL=debug
API_PORT=3000
API_HOST=0.0.0.0

# JWT (vacío para usar solo Cognito)
JWT_PUBLIC_KEY=

# CORS
CORS_ORIGIN=*

# Cognito (configuración real)
COGNITO_JWKS_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_nJrsAxdlE/.well-known/jwks.json
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_nJrsAxdlE
COGNITO_CLIENT_ID=4unqen0rhebdg89p8cdjquqh8h
